In [132]:
import wordninja_enhanced as wn
import pandas as pd
import csv

Загрузим словарь

In [ ]:
custom_lm = wn.LanguageModel(
    language='custom',
    word_file='word_frequency_flibusta_cleared_with_eng_words.txt.gz'
)

Выполним предобработку входных данных (в некоторых строках содержатся запятые, приведённый ниже код обработает такие случаи корректно)

In [ ]:
data = []
with open('test_data.txt', 'r', encoding='utf-8') as f:
    reader = csv.reader(f)
    for row in reader:
        row[1] = ",".join(row[1:])
        row = row[:2]
        data.append(row)
df = pd.DataFrame(data[1:], columns=data[0])

Создадим столбец "text_with_spaces", содержащий восстановленный текст с расставленными пробелами (для наглядности)

In [136]:
df["text_with_spaces"] = df["text_no_spaces"].apply(custom_lm.rejoin)

Создадим столбец "predicted_positions", содержащий массив индексов расставленных пробелов

In [137]:
def find_spaces(s):
    return [i for i, ltr in enumerate(s) if ltr == ' ']
df["predicted_positions"] = df["text_no_spaces"].apply(custom_lm.rejoin).apply(find_spaces)

In [160]:
df.sample(10)

,id,text_no_spaces,text_with_spaces,predicted_positions
45,45,сдамквартирумолодоженам,сдам квартиру молодоженам,"[4, 13]"
141,141,"куплюноутбук,недорого,срочно","куплю ноутбук, недорого, срочно","[5, 14, 24]"
489,489,Врядлибудетдуматьочем-тодругом.,Врядли будет думать о чем-то другом.,"[6, 12, 19, 21, 28]"
504,504,Пожалуйстанеумирай,Пожалуйста не умирай,"[10, 13]"
184,184,новыйфильтрдляводы,новый фильтр для воды,"[5, 12, 16]"
696,696,ОнВам–нестарыйбаркас,Он Вам – не старый баркас,"[2, 6, 8, 11, 18]"
201,201,ищугидапоМоскве,ищу гида по Москве,"[3, 8, 11]"
982,982,Поулицеидуя.,По улице иду я.,"[2, 8, 12]"
279,279,ищурепетиторапофизике,ищу репетитора по физике,"[3, 14, 17]"
643,643,Иявезусвоюбольшуюповозку,И я везу свою большую повозку,"[1, 3, 8, 13, 21]"

Сохраним результат в result.txt

In [139]:
df.to_csv("result.txt", columns=["id", "text_no_spaces", "predicted_positions"], index=False)

In [140]:
pd.read_csv("result.txt")

        id                  text_no_spaces      predicted_positions
0        0                 куплюайфон14про              [5, 11, 14]
1        1              ищудомвПодмосковье                [3, 7, 9]
2        2   сдаюквартирусмебельюитехникой      [4, 13, 15, 23, 25]
3        3      новыйдивандоставканедорого              [5, 11, 20]
4        4                 отдамдаромкошку                  [5, 11]
...    ...                             ...                      ...
1000  1000                        Янеусну.                   [1, 4]
1001  1001            Весна-яуженегреюпио.  [7, 11, 14, 19, 21, 23]
1002  1002       Весна-скоровырастеттрава.                 [11, 20]
1003  1003  Весна-выпосмотрите,каккрасиво.              [8, 20, 24]
1004  1004             Весна-гдемояголова?                  [9, 13]

[1005 rows x 3 columns]